* {
  margin: 0px;
  padding: 0px;
}
.friend {
  color: #0000ff;
  margin: 0px auto;
  padding-bottom: 10px;
  display: grid;
}
.friend img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
.friend p {
  justify-self: center;
}