.app-wrapper {
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  margin: 0 auto;
  width: 100vw;
}

.app-wrapper-content {
  background-color: khaki;
  grid-area: c;
}
