.dialogsWindow {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs .active{
    color: gold;
}
.dialogItem {
    padding: 10px 20px;
}
.dialogItem {

}
.messages {}
.message {
    padding: 10px 20px;
}