.message {
    padding: 10px 20px;
}

.id_1 {
    justify-self: left;
    background-color: cornflowerblue;
    border-radius: 12px 12px 12px 0px;
}

.id_2 {
    justify-self: right;
    background-color: dodgerblue;
    border-radius: 12px 12px 0px 12px;
}
